@keyframes loading {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    
}


.main {
    background-color: rgb(27, 24, 30);
    min-height: 100vh;
    margin-top: 71.2px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form input {
    padding: 0px 10px;
    width: 300px;
    border-radius: 6px;
    border: none;
    height: 30px;
}

.form button {
    background-color: #9b0606;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 7px 15px;
    font-weight: 600;
}

.section_film {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ricerca {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 20px;
    margin-top: 30px;
}

.card {
    width: 18%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(18, 18, 18);
    cursor: pointer;
}

.card_img img{
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.notFound{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
    color: white;
    font-size: 2rem;
}

.loading{
    animation: loading 1s infinite;
}