.main {
    background: linear-gradient(0deg, rgba(27, 24, 30, 1) 76%, rgb(27 20 30) 89%, rgb(0 0 0 / 0%) 99%);
    position: relative;
    top: -70px;
    padding-top: 70px;
    color: white;
}

.hero_section {
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 71.2px;
}
.img_hero {
    height: 500px;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
}

.header {
    display: flex;
    gap: 40px;
    padding: 10px 20px;
    background-color: #9b0606;
    font-family: system-ui;
    max-height: 80px;
    font-size: 1.2rem;
    align-items: center;
    color: white;
    width: 100%;

}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 900;
}

.hero_body {
    width: 80%;
    margin: 0 auto;
    margin-top: 121.2px;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-shadow: 1px 1px 0px black;
}


.film_info {
    display: flex;
    gap: 20px;
    font-weight: 900;
    font-size: 1rem;
}
.film_genres{
    font-size: 1rem;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.button_hero {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.play {
    background-color: red;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 9px black;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.add {
    background-color: #5269b6;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 9px black;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}
.remove {
    background-color: #d14646;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 9px black;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.list {
    margin-bottom: 30px;
}

.title {
    padding: 10px 20px;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview{
    margin-top: 10px;
}

.voto{
    display: flex;
    gap: 15px;
}

.grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.card {
    width: 200px;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.card_img{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.emptyImg {
    border-radius: 28%;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.card_body p {
    text-align: center;
}