.header {
    display: flex;
    gap: 40px;
    padding: 10px 20px;
    background-color: #9b0606;
    font-family: system-ui;
    max-height: 80px;
    font-size: 1.2rem;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

