.hero_section {
    background-image: url("https://image.tmdb.org/t/p/w342/vcc6NDwsMwNrwHgVuI9lGdWJLB8.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}



.header {
    display: flex;
    gap: 40px;
    padding: 10px 20px;
    background-color: transparent;
    font-family: system-ui;
    max-height: 80px;
    font-size: 1.2rem;
    align-items: center;
    color: white;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero_body {
    width: 80%;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero_body p {
    font-size: 1rem;
    width: 40%;
}

.button_hero {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.play {
    background-color: red;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 9px black;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.info {
    background-color: #424242;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 9px black;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.main {
    color: white;
    background: linear-gradient(0deg, rgba(27, 24, 30, 1) 76%, rgb(16 14 17) 89%, rgb(3 3 3 / 0%) 99%);
    position: relative;
    top: -166px;
    padding-top: 170px;
}



.list {
    margin-top: 30px;
}

.title {
    padding: 10px 20px;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.card {
    width: 22%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(18, 18, 18);
    cursor: pointer;
    flex-shrink: 0;
}

.card_img img {
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.card_body p {
    text-align: center;
}