* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}



/* UTILITYS */
.active{
    color: white;
    font-weight: 700;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
