* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: rgb(27, 24, 30);
}


/* UTILITYS */
.active{
    color: white;
    font-weight: 700;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.relative{
    position: relative;
}
.flex{
    display: flex;
}


/* WRAPPER-NOTFOUND */
.wrapper{
    display: flex;
    background-color: red;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}